
.title {
    align-items: center;
     margin: 8px 0;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    display: flex;
}
.main-container {
    background-color: rgb(209, 188, 224);
    padding: 30px;
    border-radius: 10px;
    width: 90%;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 30xp;
}

.input-container {
    background-color: rgb(255, 255, 255);
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    align-items: center;
}


.output-container {
    background-color: #1e77c0;
    width: 45%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    align-items: center;
}

.group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;  /*+/-*/
}

.button-group {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

input, button {
    margin: 8px 0;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
}

button {
    width: 75%;
    background: #f7f7f8;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

input {
    width: 90%;
    padding: 10px;
}

.result-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}